<h2>Schools Edit</h2>
<div class="schoolList">
  {{#each model as |schools|}}
   <div id="school-edit">
  <div>
    <i class="fa fa-paw" aria-hidden="true"></i>{{schools.schools}}
  </div>
  <div>
    <button class="allbuttons" {{action 'deleteSchool' schools}}><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
  </div>
  </div>
  {{/each}}
</div>
