<h2>Add a New School</h2>
<div class="admin-blog">
  <ul>
    <li>
      {{input type="text"  value=model.schools class="team-image" placeholder="School Info" autofocus="autofocus"}}
    </li>
    <li>
      <button disabled= {{isDisabled}} {{action 'saveSchool' model}} class="allbuttons"><i class="fa fa-plus" aria-hidden="true"></i> New School</button>
    </li>
    <li>
        <button class="allbuttons editbutton">{{#link-to 'petpalsadmin.schoolsedit'}}<a href=""><i class="fa fa-pencil" aria-hidden="true"></i> Edit Schools</a>{{/link-to}}</button>
    </li>
  </ul>
  {{#if responseMessage}}
    <div class="alert-success">{{responseMessage}}</div>
  {{/if}}
</div>
