<h2>Teams Edit</h2>
<div id="teams-main">
  {{#each reverse as |teams|}}
    <div id="teams-container">
      <div class="team-img-cont">
      <div class="team-img">
            <img class="teams-Img" src="{{teams.image}}" />
        </div>
        <div id="teams-name">
            <h3 id="name">{{teams.name}}</h3>
            <button  {{action 'deleteTeam' teams}} class="allbuttons"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete Team</button>
        </div>
      </div>
      <div id="teams-bio">
        <p id='bio'>{{teams.bio}}</p>
      </div>
    </div>
  {{/each}}
</div>
