<h3>Information on Pet-Assisted Therapy and Training/Certification</h3>
<h2>National Organizations</h2>
<div class='joinList'>
  <ul>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.petpartners.org'>Pet Partners</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.tdi-dog.org'>Therapy Dogs International</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.loveonaleash.org'>Love on a Leash</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.therapydogs.com'>Alliance of Therapy Dogs</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.therapyanimals.org'>Intermountain Therapy Animals and R.E.A.D.</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.americanhumane.org/interaction/programs/animal-assisted-therapy/'>American Humane Association</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.akc.org/events/title-recognition-program/therapy/organizations/'>American Kennel Club</a></li>
  </ul>
</div>
<h2>North Carolina Certification</h2>
<div class='joinList'>
  <ul>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.ncpetpartners.org'>NC Pet Partners- Greensboro</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.ncpetpartners.org'>NC Pet Partners- RDU Chapter</a>: <a href="mailto:ejvmeow@gmail.com">Ellen Vogel</a> or <a href="mailto:pitts.amy@gmail.com">Amy Pitts</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.loveonaleash.org'>Love on a Leash- Triangle Chapter</a>: <a href="mailto:emilie_beglane@mindspring.com">Emilie Beglane</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.caninesforservice.org/'>Canines for Therapy</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.helpingpawsintl.org/helpnav3.html'>Helping Paws International</a></li>
  </ul>
</div>
<h2>Dog Training</h2>
<div class='joinList'>
  <ul>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.dogtowntrainingacademy.com'>Dog Town Training Academy (Alamance County)</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.paws4ever.org'>Paws 4 Ever (Mebane)</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.pawinhanddogtraining.com'>Paw in Hand Dog Training, Barbara Long (Chapel Hill)</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.confident-dog.com'>The Confident Dog, Patricia Tirrell (Durham)</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://dogtrainingraleighnc.net/'>Team Works Dog Training (Raleigh)</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.durhamkennelclub.com/ '>Durham Kennel Club (Durham)</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.topdogtrainingandresort.com/'>Top Dog Training (Hillsborough)</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.lapitup.biz'>Lap It Up, Judith Young (Durham)</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.youluckydograleigh.com'>You Lucky Dog, Mike Burris (Raleigh/Durham)</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.jackiesbasicsandbeyond.com/'>Jackie's Basics and Beyond Dog Training (Cary)</a></li>
  </ul>
</div>
