<h3>Information on Pet-Assisted Therapy and Training/Certification</h3>


<p><b> About Pet-Assisted Therapy, Training &amp; Certification</b></p>

<p><br />
</p>

<p><br />
</p>

<h3>Resources for Certification in NC (Triangle &amp; Triad regions):</h3>

<p>This list is not exhaustive, but these are the organizations that are well-known, with tests and/or courses in this area. Consult the main websites for general information about pet therapy, info on prerequisites, test requirements, registration fees, as well as testing dates that are currently scheduled in various areas (these fill up quickly!). Some have videos of test components. The organizations each have differing requirements and procedures leading to certification, but some features are similar. Pets must be at least one year, must have suitable aptitude and personality, and possess at least basic obedience skills (these see training list below), and the handler should be a good advocate of, and work well with, his/her pet. </p>

<p><br />
</p>
<div class="resourceList">
<ul>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Pet Partners (<a href="http://www.petpartners.org/">www.petpartners.org</a>): Must take a handlers’ course (on-line or in person) and an evaluation. In NC</li>
</ul>

<ul>
<ul>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>NC Pet Partners Chapter in Greensboro (<a href="http://www.ncpetpartners.org">www.ncpetpartners.org</a>) Hosts periodic, in-person handler’s course and evaluations (contact them or view their on-line calendar)</li>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Triangle Branch of NC Chapter: Contact Ellen Vogel at <a href="mailto:ejvmeow@gmail.com">ejvmeow@gmail.com</a> or Amy Pitts at <a href="mailto:pitts.amy@gmail.com">pitts.amy@gmail.com</a></li>
</ul>

</ul>

<ul>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Love on a Leash (<a href="http://www.loveonaleash.org/">www.loveonaleash.org</a>): Requires 10 observed visits in addition to an evaluation. </li>
</ul>

<ul>
<ul>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Durham: Contact Emilie Beglane at <a href="mailto:emilie_beglane@mindspring.com">emilie_beglane@mindspring.com</a> </li>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Wake: Town and County Animal Care Center (Apex). A three week therapy dog course, followed by the evaluation, and observed visits. CGC required. www.<a href="http://tcanimalcare.com/wptc/training">tcanimalcare.com/wptc/training</a>/</li>
</ul>

</ul>

<ul>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Alliance of Therapy Dogs (<a href="http://www.therapydogs.com/">www.therapydogs.com</a>): Requires 3 observed visits in addition to an evaluation. </li>
</ul>

<ul>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Durham, Raleigh, Greensboro and other NC locations: Go to website, see Find a Tester/Observer, enter your zip code for contacts </li>
</ul>

<ul>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Canines for Therapy (<a href="http://www.caninesforservice.org/therapy-dogs">www.caninesforservice.org/therapy-dogs</a>): Requires a therapy dog course and an evaluation. </li>
<ul>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Raleigh location is Teamworks (<a href="http://teamworksdogtraining.org/">http://teamworksdogtraining.org/</a>)</li>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Therapy Dogs International (<a href="http://www.tdi-dog.org/">www.tdi-dog.org</a>): Requires evaluation only. See site for test dates and locations. Two in this area are: </li>
</ul>
<ul>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Jackie’s Basics and Beyond Dog Training (Cary) <a href="http://www.jackiesbasicsandbeyond.com">www.jackiesbasicsandbeyond.com</a> : Offers a therapy dog course and hosts TDI evaluations.</li>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Dog Town Training Academy: dogtowntrainingacademy.com (Alamance County): Hosts periodic TDI evaluations</li>
</ul>

</ul>

<p><br />
</p>
</div>
<h3>Dog Training Facilities (Triangle and Triad):</h3>

<p>This is a partial listing of businesses that have been suggested by others. Some offer therapy dog classes and/or Canine Good Citizen Classes, a good prep for a therapy dog evaluation. A good facility should employ positive, reward-based training techniques. If you have additional recommendations, please send information. </p>
<div class="resourceList">
<ul>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Paws4Ever (Mebane):<a href="http://www.paws4ever.org">paws4ever.org</a></li>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Barbara Long, Paw in Hand Dog Training (Chapel Hill):<a href= "http://www.pawinhanddogtraining.com">pawinhanddogtraining.com </a></li>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Jane Marshall, Cheery Dogs Dog Training (Chapel Hill): <a href="http://www.jane3dog.breederoo.com/">jane3dog.breederoo.com</a> </li>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Teamworks Dog Training (Raleigh):<a href="http://www.dogtrainingraleighnc.net/">dogtrainingraleighnc.net</a> </li>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Durham Kennel Club (Durham): <a href="http://www.durhamkennelclub.com/">durhamkennelclub.com</a></li>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Top Dog Training (Hillsborough) : <a href="http://www.topdogtrainingandresort.com/">topdogtrainingandresort.com</a> </li>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Lap It Up (Durham): <a href="http://www.lapitup.biz"></a> </li>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Sue McKinney, Whole Dog Institute (Durham): <a href="http://www.wholedoginstitute.com">wholedoginstitute.com</a></li>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Mike Burris, You Lucky Dog (Raleigh/Durham): <a href="http://www.youluckydograleigh.com ">youluckydograleigh.com</a></li>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Jackie’s Basics and Beyond Dog Training (Cary): <a href="http://www.jackiesbasicsandbeyond.com">jackiesbasicsandbeyond.com</a> </li>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Patricia Tirrell, The Confident Dog (Durham): <a href="http://www.confident-dog.com/">confident-dog.com</a> </li>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Dog Town Training Academy (Alamance County): <a href="http://www.dogtowntrainingacademy.com">dogtowntrainingacademy.com</a> </li>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Town and Country Animal Care (Wake Co): <a href="http://tcanimalcare.com/wptc/training">tcanimalcare.com/wptc/training</a>/ </li>
</ul>
</div>

<h3>Others NC Locations:</h3>
<div class="resourceList">
<ul>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Canine CareGivers(Salisbury): <a href="http://www.caninecaregiversnc.com/">www.caninecaregiversnc.com</a></li>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>TDK Therapy Dogs (Charlotte): <a href="http://www.thedogknowledge.com/web/therapy/">www.thedogknowledge.com</a> </li>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Specialized K9 Services (Asheville): <a href="http://www.sk9s.com/">www.sk9s.com</a></li>
</ul>
</div>
<p><br />
</p>

<h3>Additional Information/Articles about Pet-Assisted Therapy and its Benefits:</h3>
<div class="resourceList">
<ul>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Intermountain Therapy Animals &amp; R.E.A.D.: <a href="http://www.therapyanimals.org/">www.therapyanimals.org</a></li>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>American Humane Association: <a href="http://www.americanhumane.org/interaction/programs/animal-assisted-therapy/">www.americanhumane.org/interaction/programs/animal-assisted-therapy/</a></li>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>WebMD: <a href="#2">http://www.webmd.com/mental-health/features/animal-assisted-therapy#2</a></li>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Psych Central: <a href="https://psychcentral.com/lib/the-truth-about-animal-assisted-therapy/">https://psychcentral.com/lib/the-truth-about-animal-assisted-therapy/</a></li>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Mayo Clinic: <a href="http://www.mayoclinic.org/healthy-lifestyle/consumer-health/in-depth/pet-therapy/art-20046342?pg=2">http://www.mayoclinic.org/healthy-lifestyle/consumer-health/in-depth/pet-therapy/art-20046342?pg=2</a></li>
<li class='link'><i class="fa fa-paw" aria-hidden="true"></i>Medical News Today: <a href="http://www.medicalnewstoday.com/articles/278173.php"></a></li>
</ul>
</div>
<p><br />
</p>

<p><br />
</p>

<p><br />
</p>

<p><b>This information is provided by PetPalsNC, Inc., a non-profit organization that supports pet-assisted therapy for children and adolescents in public schools. When you and your pet are certified, please reach out to us if you would like to do rewarding work with kids who have challenges (social, academic, emotional, behavioral, etc). We currently have pet-therapy teams in Chapel Hill-Carrboro City Schools, Orange County Schools, and hope to be expanding into other areas soon. </b></p>

<p><b>Wendy Stewart, msw, lcsw (Executive Director) </b></p>

<p><b>(919) 225-9729, </b><a href="mailto:petpalsncinc@gmail.com"><b>petpalsncinc@gmail.com</b></a><b>, </b></p>

<p><b>or connect with us through our website at </b><a href="http://www.petpalsnc.org"><b>www.petpalsnc.org</b></a><b>.</b></p>


<!-- <h2>National Organizations</h2>
<div class='joinList'>
  <ul>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.petpartners.org'>Pet Partners</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.tdi-dog.org'>Therapy Dogs International</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.loveonaleash.org'>Love on a Leash</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.therapydogs.com'>Alliance of Therapy Dogs</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.therapyanimals.org'>Intermountain Therapy Animals and R.E.A.D.</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.americanhumane.org/interaction/programs/animal-assisted-therapy/'>American Humane Association</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.akc.org/events/title-recognition-program/therapy/organizations/'>American Kennel Club</a></li>
  </ul>
</div>
<h2>North Carolina Certification</h2>
<div class='joinList'>
  <ul>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.petpartners.org'>NC Pet Partners- Greensboro</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.petpartners.org'>NC Pet Partners- RDU</a> Email: <a href="mailto:ejvmeow@gmail.com">Ellen Vogel</a> or <a href="mailto:pitts.amy@gmail.com">Amy Pitts</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.loveonaleash.org'>Love on a Leash- Triangle</a> Email: <a href="mailto:emilie_beglane@mindspring.com">Emilie Beglane</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.caninesforservice.org/'>Canines for Therapy</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.helpingpawsintl.org/helpnav3.html'>Helping Paws International</a></li>
  </ul>
</div>
<h2>Dog Training</h2>
<div class='joinList'>
  <ul>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.dogtowntrainingacademy.com'>Dog Town Training Academy (Alamance County)</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.paws4ever.org'>Paws 4 Ever (Mebane)</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.pawinhanddogtraining.com'>Paw in Hand Dog Training, Barbara Long (Chapel Hill)</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.confident-dog.com'>The Confident Dog, Patricia Tirrell (Durham)</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://dogtrainingraleighnc.net/'>Team Works Dog Training (Raleigh)</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.durhamkennelclub.com/ '>Durham Kennel Club (Durham)</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.topdogtrainingandresort.com/'>Top Dog Training (Hillsborough)</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.lapitup.biz'>Lap It Up, Judith Young (Durham)</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.youluckydograleigh.com'>You Lucky Dog, Mike Burris (Raleigh/Durham)</a></li>
    <li class='link'><i class="fa fa-paw" aria-hidden="true"></i><a href='http://www.jackiesbasicsandbeyond.com/'>Jackie's Basics and Beyond Dog Training (Cary)</a></li>
  </ul>
</div> -->
