<h4>Information on Pet-Assisted Therapy and Training/Certification </h4>
<h3>National Organizations</h3>
  <ul>
    <li><a href='http://www.petpartners.org'>Pet Partners</a></li>
    <li><a href='http://www.tdi-dog.org'>Therapy Dogs International</a></li>
    <li><a href='http://www.loveonaleash.org'>Love on a Leash</a></li>
    <li><a href='http://www.therapydogs.com'>Alliance of Therapy Dogs</a></li>
    <li><a href='http://www.therapyanimals.org'>Intermountain Therapy Animals and R.E.A.D.</a></li>
    <li><a href='http://www.americanhumane.org/interaction/programs/animal-assisted-therapy/'>American Humane Association</a></li>
    <li><a href='http://www.akc.org/events/title-recognition-program/therapy/organizations/'>American Kennel Club</a></li>
  </ul>
<h3> North Carolina Certification </h3>
  <ul>
    <li><a href='http://www.petpartners.org'>North Carolina Pet Partners- Greensboro</a></li>
    <li><a href='http://www.petpartners.org'>North Carolina Pet Partners- Triangle Chapter</a></li>
    <li><a href='http://www.petpartners.org'>Pet Partners</a></li>
    <li><a href='http://www.petpartners.org'>Pet Partners</a></li>
  </ul>
