<h4>Schools we are participating in:</h4>
<h2>Orange County Schools</h2>
<div class='list'>
  <ul>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Pathways Elementary School</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Cameron Park Elementary School</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Efland Cheeks Elementary School</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>New Hope Elementary School</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Central Elementary School</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Hillsborough Elementary School</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Grady Brown Elementary School</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>CW Stanford Middle School</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>AL Stanback Middle School</li>
  </ul>
</div>
<h2>Chapel Hill and Carrboro Schools</h2>
<div class='list'>
  <ul>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Rashkis Elementary School</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>McDougle Elementary School</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Philips Middle School</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Culbreth Middle School</li>
  </ul>
</div>
<h2>Durham Public Schools</h2>
<div class='list'>
  <ul>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Pearsontown Elementary School</li>
  </ul>
</div>
<h2>Charter Schools</h2>
<div class='list'>
  <ul>
    <li><i class="fa fa-paw" aria-hidden="true"></i>The Expedition School</li>
  </ul>
</div>
