<h2>PetPals Schools</h2>
<div class='list'>
  <ul>
    <li><i class="fa fa-paw" aria-hidden="true"></i>I'm a school (Location/County)</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>I'm a school (Location/County)</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>I'm a school (Location/County)</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>I'm a school (Location/County)</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>I'm a school (Location/County)</li>
  </ul>
</div>
