<h4>If your school is interested in bringing pet-assisted therapy to your students, please click Connect and send us your contact information and comments/questions. There is no cost to participate, but we do require that the school provides a liaison for PetPalsNC (usually the school social worker and/or school counselor), and that he/she and the school principal agree to and sign a Memorandum of Agreement which defines the expectations for the liaison, the school, and for PetPals. We currently have volunteer therapy Teams in the following schools, and, as we recruit additional volunteers, we will be able to serve more schools. </h4>
<h2>Participating Schools:</h2>
<div class='joinList'>
  <ul>
    {{#each model as |schools|}}
      <li><i class="fa fa-paw" aria-hidden="true"></i>{{schools.schools}}</li>
    {{/each}}
  </ul>
</div>
<img class='dogImage' src='/assets/images/julius.png'>
