<h2>PetPals Schools:</h2>
<div class='list'>
  <ul>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Pathways Elementary School (Orange County)</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Cameron Park Elementary School (Orange County)</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Efland Cheeks Elementary School (Orange County)</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>New Hope Elementary School (Orange County)</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Central Elementary School (Orange County)</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Hillsborough Elementary School (Orange County)</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Grady Brown Elementary School (Orange County)</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>CW Stanford Middle School (Orange County)</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>AL Stanback Middle School (Orange County)</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Rashkis Elementary School (Chapel Hill and Carrboro)</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>McDougle Elementary School (Chapel Hill and Carrboro)</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Philips Middle School (Chapel Hill and Carrboro)</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Culbreth Middle School (Chapel Hill and Carrboro)</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Pearsontown Elementary School (Durham Public School)</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>The Expedition School (Charter School)</li>
    {{#each model as |schools|}}
      <li><i class="fa fa-paw" aria-hidden="true"></i>{{schools.schools}}</li>
    {{/each}}
  </ul>
</div>
