<h1>Volunteer Agreement</h1>
<p> PetPalsNC could not exist without its volunteers, both people and pets, and the success of the program depends on the relationship that exists among the students, school staff, pets, and handlers. To help build and maintain a relationship of mutual respect and trust, you will comply with the guidlines laid out in the form below.
</p>
<a id='volunteerform' href='/assets/forms/volunteer.pdf' target='_blank'>PetPals Volunteer Form</a>

<h3>Dog Requirements: </h3>
<div class='aboutList'>
<ul>
  <li><i class="fa fa-paw" aria-hidden="true"></i>Any breed or mixture.</li>
  <li><i class="fa fa-paw" aria-hidden="true"></i>Good disposition- gentle, calm and loving.</li>
  <li><i class="fa fa-paw" aria-hidden="true"></i>Must like people!</li>
  <li><i class="fa fa-paw" aria-hidden="true"></i>Obedience Training: Know basic and advanced commands.</li>
  <li><i class="fa fa-paw" aria-hidden="true"></i>Must pass physical exam and remain current on vaccinations.</li>
  <li><i class="fa fa-paw" aria-hidden="true"></i>Evaluated for aptitude and skills.</li>
</ul>
</div>
<h3>Handler Requirements:</h3>
<div class='aboutList'>
<ul>
  <li><i class="fa fa-paw" aria-hidden="true"></i>Much like the dog, the handler must be calm, gentle, and like people!</li>
 <li><i class="fa fa-paw" aria-hidden="true"></i>Able to advocate for the animal at all times.</li>
  <li><i class="fa fa-paw" aria-hidden="true"></i>Able to facilitate interactions- it’s about the pet!</li>
  <li><i class="fa fa-paw" aria-hidden="true"></i>Take instruction and follow rules of facility.</li>
  <li><i class="fa fa-paw" aria-hidden="true"></i>Be able to understand and honor confidentiality.</li>
  <li><i class="fa fa-paw" aria-hidden="true"></i>Be able to maintain personal boundaries.</li>
</ul>
</div>
<img class='verticalImage' src='/assets/images/golden.png'>
