.hover-tabs {
  width: 100%;
  height: 30px;
  background: $yellow-highlight;
  border-bottom-right-radius: 2px;
}

.tab-list {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  height: 100%;
  text-align: center;
}

.tab-list li {
  width: 100%;
  //padding-top: 4px;
  // padding-bottom: 2.5px;
  height: 100%;
  margin: 0 auto;

  &:hover {
    background: $sub-yellow;
    text-decoration: none;
    cursor: pointer;

  }
  .active {
  background: $sub-yellow;
  }
}

.aboutList {
  margin: 0 auto;
  width: 50%;
  line-height: 180%;
  text-align: left;
  font-size: 16px;
}

h1,
h2,
h3 {
  text-align: center;
  color: $accent-blue;
}

.fa.fa-paw {
  padding-right: 10px;
}

ul h4{
  font-weight: bolder;
  font-size: 22px;
}
body {
  text-align: center;
}

h2 {
  display: inline-block;
  position: relative;
  &:after,
  &:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 550%;
    top: 50%;
    right: 100%;
    background: black;
  }
}

h2:after {
  left: 100%;
}

.testimonial-p{
  font-size: 16px;
  font-style: italic;
}

.fa.fa-quote-left{
  font-size: 35px;
  color: $lighter-gray;
}


.dogImage{
  width: 40%;
  border-radius: $main-radius;
  margin: 15px;
}

.verticalImage{
  width: 30%;
  border-radius: $main-radius;
  margin: 15px;
}
