.pic {
  height: 100px;
  width: 100px;
}


@media only screen and (max-width: 700px) {
  .allbuttons {
    font-size: 12px;
  }

  .teams-Img {
    height: 140px;
    width: 140px;
    border-radius: 5px;
    transition: none;

    &.hover {
      height: 140px;
      width: 140px;
    }
  }
}


.post-container{
  display: flex;
  flex-direction: row;
}
