#connect-container {
  margin: 0 auto;
  width: 70%;
  padding-top: 20px;
}

.allbuttons {
  background: $main-yellow;
  border: none;
  color: black;
  font-weight: normal;
  border-radius: 3px;
  font-size: 20px;
  margin-top: 20px;
  outline: none;

  &:focus,
  &:hover {
    background: $sub-yellow;
  }
}

.form {
  width: 100%;
  margin-top: 15px;
}

.social-icons {
  margin-left: 0 auto;
  display: inline-block;
}

.icons-list {
  color: $lighter-gray;
  font-size: 35px;
  display: flex;
  justify-content: space-between;

  li {
    padding: 10px;

    &:hover {
      color: $accent-blue;
    }
  }
}
