@import "setup/variables";

*{
  box-sizing: border-box;
}

footer {
    position:fixed;
    bottom:0;
    width:100%;
    height:45px;
    background: $footer-gray;
 }


.social-icons {
  margin-left: 20px;
  width: 10%;
  display: inline-block;
  float: left;
}

.icons-list {
  color: $lighter-gray;
  font-size: 35px;
  display: flex;
  justify-content: space-between;
}

.icons-list li {
  float: left;
}

.login-donate {
  float: right;
  width: 25%;
  display: inline-block;
  margin-right: 20px;
  margin-top: 4px;


  .login-list {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .login-list li {
    float: left;
  }

.login {
  border-radius: 5px;
  background-color: $lighter-gray;
  padding: 3px 6px;

}
.donate{
  color: $lighter-gray;
  font-size: 20px;

}
.fa, .fa-cc-paypal {
  font-size: 40px;
  color: $lighter-gray;
}
}
