.link a{
  text-decoration: underline;
}

#volunteerform{
  text-decoration: underline;
  font-size: 20px;
  font-weight: bold;
}

.joinList {
  margin: 0 auto;
  width: 40%;
  line-height: 180%;
  text-align: left;
  font-size: 16px;
}
