@import "setup/variables";

#nav-undo {
  background-color: transparent;
  border: none;
}

.navbar,
.navbar-default {
  font-size: 1.5em;
  font-weight: 550;
  z-index: 99;
  width: 100%;
  height: 194px;
  padding-top: 10px;
}

.collapse,
.navbar-collapse {
  width: 100%;
}

#logospace {
  width: 560px;
  color: $main-yellow;
}

.navitems {
  color: black;
  display: flex;
  flex: 1 1 auto;
  margin-top: 6%;
  position: absolute;
  background: $main-yellow;
  width: 100%;
  box-shadow: $box-shadow;
  -webkit-box-shadow: $webkit-shadow;

  .mainMenu {
    width: 35%;
    //padding-top: 2.5px;
    // padding-bottom: 2.5px;
    text-align: center;

    &:hover {
      background: $sub-yellow;
      text-decoration: none;
      cursor: pointer;
    }
  }
}


.logo-container {
  position: absolute;
  left: 10%;
  -webkit-transform: $logo-transform;
  -moz-transform: $logo-transform;
  -ms-transform: $logo-transform;
  transform: $logo-transform;
  text-align: center;
  width: 190px;
  height: 190px;
  z-index: 3;

  .logo {
    border-radius: 50%;
    padding: 10px;
    background: #fff;
    display: flex;
    justify-content: center;
    background-color: $main-yellow;
    -webkit-box-shadow: $webkit-shadow;
    box-shadow: $box-shadow;
    transition: .7s ease;

    &:hover {
      background-color: $yellow-highlight;
      transform: rotate(25deg);
    }
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }


.dropdown {
  .dropdown-menu {
    top: -2px;
    position: absolute;
    visibility: hidden;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 18px;
    background-color: $yellow-highlight;
    border-radius: 2px;
    border: none;
    -webkit-box-shadow: $webkit-shadow;
    box-shadow: $box-shadow;
    background-clip: padding-box;
    width: 100%;
  }
}

.subMenu:hover {
  background: $sub-yellow;
}

.navbar-toggle {
  width: 100%;
  text-align: right;
  //position: absolute;
  background-color: $main-yellow;
}


@media only screen and (max-width: 800px) {


  .navbar, .navbar-default {
    font-size: 1.5em;
    padding-top: 8%;
    //height: 40px;

  }
//Look to bootstrap navbar.scsss for other styles
  .navbar-toggle {
    margin-top: 5%;
    padding: 9px 50px 9px 10px;
    background-color: $main-yellow;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid transparent;

    // We remove the `outline` here, but later compensate by attaching `:hover`
    // styles to `:focus`.
    &:focus {
      outline: 0;
    }

    // Bars
    .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
    }
    .icon-bar + .icon-bar {
      margin-top: 4px;
    }

  }

  .navitems {
    //margin-top:1%;
    //z-index: 4;
    left: 37.5%;
    top: 35%;
    width: 60%;
    height: 205px;
    flex-direction: column;
    align-items:center;

    #logospace {
      display: none;
    }
    .mainMenu {
      width: 100%;
    }
  }
   .dropdown  {
   //z-index: 100;
  }
  .subMenu {
   z-index: 99;

  }
  .logo-container {
    top: 5%;
    left: 20%;
    width: 110px;
    height: 110px;
  }


}
