@import "setup/variables";

*{
  box-sizing: border-box;
}


.main-container {
  width: 100%;
  height: 700px;
  font-family: $main-font;
  background: url('/assets/images/background.png');
}

.content-container {
  background: url('/assets/images/stock-dog') center no-repeat;
  background-size:cover;
  width: 68%;
  height: 425px;
  display: inline-block;
  margin-left:5%;
  //background: #fff;
  padding: 20px;
  border-radius: 2px;
  -webkit-box-shadow: $webkit-shadow;
  box-shadow: $box-shadow;
}


#container {
  position: relative;
  top: 40%;
  width: 30%;
  height: 60%;
}
#block {
  border-radius: 2px;
  background: #CCC;
  filter: alpha(opacity=60);
  /* IE */
  -moz-opacity: 0.6;
  /* Mozilla */
  opacity: 0.6;
  /* CSS3 */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  //text-align: center;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.calender {
  float: right;
  width: 20%;
  height: 425px;
  margin-right: 5%;
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: $webkit-shadow;
  box-shadow: $box-shadow;

  #calender-head {
    color: black;
    font-size: 1.5em;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    background: $red-highlight;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#nav-undo {
  background-color: transparent;
  border: none;
}

.navbar,
.navbar-default {
  font-size: 1.5em;
  font-weight: 550;
  z-index: 99;
  width: 100%;
  height: 194px;
  padding-top: 10px;

}
  .collapse,
  .navbar-collapse {
    width: 100%;

}

#logospace{
  width: 455px;
  color: $red-highlight;
}

.navitems{
  color: black;
  display: flex;
  flex: 1 1 auto;
  margin-top: 6%;
  position: absolute;
  background: $red-highlight;
  width: 100%;
  box-shadow: $box-shadow;
  -webkit-box-shadow:  $webkit-shadow;

  .mainMenu {
    width: 35%;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    text-align: center;

    &:hover{
      background: $red-highlight;
      text-decoration: none;

    }
  }
}

.logo-container {
  position: relative;
  left: 50%;
  -webkit-transform: $logo-transform;
  -moz-transform: $logo-transform;
  -ms-transform: $logo-transform;
  transform: $logo-transform;
  text-align: center;
  width: 190px;
  height: 190px;
  z-index: 3;

  .logo {
    border-radius: 50%;
    padding: 10px;
    background: #fff;
    display: flex;
    justify-content: center;
    background-color: $red-highlight;
    -webkit-box-shadow: $webkit-shadow;
    box-shadow: $box-shadow;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.dropdown {
  .dropdown-menu {
    min-width: 200px;
    left: -10px;
    top: 34px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 18px;
    background-color: $red-highlight;
    border-radius: 2px;
    border: none;
    -webkit-box-shadow: $webkit-shadow;
    box-shadow: $box-shadow;
    background-clip: padding-box;
    width: 100%;
  }
}

.subMenu:hover{
  background: $red-highlight;
}
