@import "setup/variables";

* {
  box-sizing: border-box;
}



.main-container {
  width: 100%;
  font-family: $main-font;
  background: url('/assets/images/background.png');
  overflow-y: scroll;
  overflow-x:hidden;
}

.content-container {
  background: url('/assets/images/firstimage.png') center no-repeat;
  background-size: cover;
  width: 68%;
  height:  460px;
  display: inline-block;
  margin-left: 5%;
  margin-bottom: 5%;
  padding: 20px;
  padding-top: 0;
  border-radius: $main-radius;
  -webkit-box-shadow: $webkit-shadow;
  box-shadow: $box-shadow;
}

.content-body {
  width: 100%;
  padding: 15px;
}


#container {
  position: relative;
  top: 5%;
  width: 50%;
  height: 39%;
}

#block {
  border-radius: $main-radius;
  border: 3px solid $sub-yellow;
  background: #CCC;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#text {
  font-size: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color:$accent-blue;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#calender-container {
  float: right;
  width: 20%;
  height: 460px;
  margin-right: 5%;
  background: #fff;
  border-radius: $main-radius;
  -webkit-box-shadow: $webkit-shadow;
  box-shadow: $box-shadow;

  #calender-head {
    color: black;
    font-size: 1.5em;
    border-radius: $main-radius;
    width: 100%;
    height: 40px;
    background: $main-yellow;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #blog-main {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 385px;
  }
}

#date,
#title {
  display: inline-block;
}

#blog-title {
  #title {
    color: $accent-blue;
  }
}

@media only screen and (max-width: 900px) {
.main-container {
  overflow-y: scroll;
  overflow-x:hidden;
}
.content-container {
  width: 95%;
  margin-left: 0;
}

#container {
  top : 60%;
  height: 40%;
  width: 100%;
}

#calender-container {
  width: 90%;
}
}
