
<div id="blog-main">
  {{#each model as |blog-post|}}
    <div id="blog-container">
        <div id="blog-title">
          <h3 id="title">{{blog-post.title}}</h3>
        </div>
        <div id="blog-body">
          <p>{{blog-post.body}}</p>
          <p>{{blog-post.date}}</p>
        </div>
      </div>
  {{/each}}
</div>
