<div id="blog-main">
  {{#each reverse as |blog-post|}}
  {{#if blog-post.title}}
    <div id="blog-container">
      <div id="blog-title">
        <ul>
          <li>
            <p>{{blog-post.date}}</p>
          </li>
          <li>
            <h3 id="title">{{blog-post.title}}</h3>
          </li>
        </ul>
        {{#if blog-post.image}}
        <div class="blog-img">
              <img class="teams-Img" src="{{blog-post.image}}" />
          </div>
          {{/if}}
      </div>
      <div id="blog-body">
        <p>{{blog-post.body}}</p>
      </div>
    </div>
    {{/if}}
  {{/each}}
</div>
