<h2>Petpals in the Media</h2>
<h3>Videos</h3>
<div class="video-section" id="blog-main">
{{#each reverse as |blog-post|}}
{{#if blog-post.video}}
  <iframe src=" {{blog-post.video}} " frameborder="0" allowfullscreen></iframe>
  {{/if}}
{{/each}}
</div>
