
<h2>Videos</h2>
<div class="video-section" id="teams-main">
{{#each reverse as |video|}}
<div class="teams-container">
  <iframe src="{{video.video}}" frameborder="0" allowfullscreen></iframe>
</div>
{{/each}}
</div>
