
<h2>Videos</h2>
<div id="teams-main">
{{#each reverse as |video|}}
{{#if video.video}}
<div id="teams-container">
  <ul>
    <li>
      <p>{{video.title}}</p>
    </li>
    <li>
  <iframe src="{{video.video}}" frameborder="0" allowfullscreen></iframe>
</li>
</ul>
</div>
{{/if}}
{{/each}}
</div>
