<h2>About PetPals NC</h2>
  <ul class='aboutList'>
    <li><i class="fa fa-paw" aria-hidden="true"></i>In 2007 Wendy Stewart, a licensed clinical social worker who worked as a social worker for Orange County Schools researched pet-assisted therapy as a possible way to better reach students in a non-traditional high school.</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Wendy became certified as a Team with Ella, a rescued mix, followed by Julius and Foster. All three therapy dogs rotated days, working with students in both of Wendy’s assigned schools.</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>As word spread about the good things that were happening with the dogs, other schools requested therapy dogs, and in 2010 Wendy established “Pet Pals” as a program and began to recruit other therapy teams from the community to place in those schools.</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Wendy retired in 2014 from the school district and set to work to grow  the program.</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>In early 2016, PetPals NC was incorporated and received 501(c)3 status.</li>
  </ul>
<img class='dogImage' src='/assets/images/bw.png'>
<h3>Current Status:</h3>
  <ul class='aboutList'>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Serving fourteen schools in Orange County, Chapel Hill, Carrboro, and Durham Schools.</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Twenty-eight active teams with thirty-three dogs and and twenty-one inactive teams. Inactive teams may or may not return, are on temporary leave, dogs were retired, are deceased, or handler moved.</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>School counselors or social workers serve as PetPals NC liaisons in each participating school.</li>
  </ul>
