<h2>About PetPals NC</h2>
<ul class='aboutList'>
<li><i class="fa fa-paw" aria-hidden="true"></i>In 2007, Wendy Stewart, a licensed clinical social worker, who worked as a school social worker for Orange County Schools, researched pet-assisted therapy as a possible way to better reach students in a non-traditional high school.</li>
<li><i class="fa fa-paw" aria-hidden="true"></i>She became certified as a Team with Ella, a rescued mix, followed by Julius and Foster. All three therapy dogs rotated days, working with students in both of Wendy’s assigned schools.</li>
<li><i class="fa fa-paw" aria-hidden="true"></i>As word spread about the good things that were happening with the dogs, other schools requested therapy dogs, and in 2010, Wendy established “Pet Pals” as a program and began to recruit other therapy Teams from the community to place in those schools.</li>
<li><i class="fa fa-paw" aria-hidden="true"></i>Wendy retired in 2014 from the school district and set to work to grow the program.</li>
<li><i class="fa fa-paw" aria-hidden="true"></i>PetPalsNC was incorporated and received 501(c)3 status early in 2016.</li>
</ul>
<img class='dogImage' src='/assets/images/bw.png'>
<h3>Current Status:</h3>
<ul class='list'>
<li><i class="fa fa-paw" aria-hidden="true"></i>Serving 14 schools in Orange, Chapel-Hill Carrboro, and Durham Schools.</li>
<li><i class="fa fa-paw" aria-hidden="true"></i>28 Active (33 dogs) and 21 In-Active Teams (may or may not return - are on temporary leave, or dogs were retired, are deceased, or handler moved).</li>
<li><i class="fa fa-paw" aria-hidden="true"></i>School counselors or social workers serve as PetPalsNC liaisons in each participating school.</li> 
</ul>
