<p>Benefits of Pet Therapy
Mental

Increases verbal interactions among group members
Increases attention skills (i.e., paying attention, staying on task)
Increases self-esteem (special time for a child, teaching commands to dog, etc.)
Reduces anxiety
Reduces loneliness
Improves depressive symptoms
Decreases behavioral problems (work with dog can be a reward)
Enhances emotional well-being
Physical

Improves fine motor skills (brushing, stroking)
Improves gross motor skills like balance and coordination (walking the dog)
Relaxing (can lower blood pressure)
Educational

Increases vocabulary and reading fluency
Improves attitude toward reading
Aids in long and short-term memory
Social and Motivational

Improves willingness to be involved in a group activity
Improves interactions with others and with staff
Improves communication and cooperation
Empathy and sensitivity development</p>
