<p>
  <div>
    <h1>What is Pet Therapy?</h1>
    <ul class='aboutList'>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Defined as a purposeful interaction between an individual or group and a trained animal to achieve any number of benefits and/or goals. The animal and handler must be registered and/or certified and maintain membership in one of the pet therapy organizations such as Pet Partners, TDI, Alliance of Therapy Dogs, and Love on a Leash. These screen, evaluate, and insure, but do not train the animals.</li>
  </ul>
  </div>
  <span></span>
  <div>
    <ul class='aboutList'>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Therapy pets not only work in elementary and secondary schools, but also in universities and colleges to help students to de-stress with dogs before exams. Many of the PetPals dogs also go to Duke, UNC, and other campuses to work with hundreds of students.</li>
  </ul>
  </div>
  <img class='dogImage' src='/assets/images/cooper.png'>
  <h1>Benefits of Pet Therapy</h1>
  <span><h2>Mental</h2></span>
  <div class='aboutList'>
    <ul>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Increases verbal interactions among group members</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Increases attention skills</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Increases self-esteem</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Reduces anxiety</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Reduces loneliness</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Improves depressive symptoms</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Decreases behavioral problems</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Enhances emotional well-being</li>
    </ul>
  </div>
  <span><h2>Physical</h2></span>
  <div class='aboutList'>
    <ul>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Improves fine motor skills</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Improves gross motor skills like balance and coordination</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Relaxing</li>
    </ul>
  </div>
  <span><h2>Educational</h2></span>
  <div class='aboutList'>
    <ul>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Increases vocabulary and reading fluency</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Improves attitude toward reading</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Aids in long and short-term memory</li>
    </ul>
  </div>
  <span><h2>Social and Motivational</h2></span>
  <div class='aboutList'>
    <ul>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Improves willingness to be involved in a group activity</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Improves interactions with others and with staff</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Improves communication and cooperation</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Empathy and sensitivity development</li>
    </ul>
  </div>
</p>
