<p>
<h1>Benefits of Pet Therapy</h1>
<span><h2>Mental</h2></span>
  <div class='list'>
    <ul>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Increases verbal interactions among group members</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Increases attention skills (paying attention, staying on task)</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Increases self-esteem</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Reduces anxiety</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Reduces loneliness</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Improves depressive symptoms</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Decreases behavioral problems (work with dog can be a reward)</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Enhances emotional well-being</li>
    </ul>
  </div>
<span><h2>Physical</h2></span>
  <div class='list'>
    <ul>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Improves fine motor skills (brushing, stroking, etc.)</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Improves gross motor skills like balance and coordination (walking the dog)</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Relaxing (can lower blood pressure)</li>
    </ul>
  </div>
<span><h2>Educational</h2></span>
  <div class='list'>
    <ul>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Increases vocabulary and reading fluency</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Improves attitude toward reading</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Aids in long and short-term memory</li>
    </ul>
  </div>
<span><h2>Social and Motivational</h2></span>
  <div class='list'>
    <ul>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Improves willingness to be involved in a group activity</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Improves interactions with others and with staff</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Improves communication and cooperation</li>
      <li><i class="fa fa-paw" aria-hidden="true"></i>Empathy and sensitivity development</li>
    </ul>
  </div>
</p>
