<p>
  <ul>
    <li class='testimonial-p'><i class="fa fa-quote-left" aria-hidden="true"></i>My student often stutters when reading aloud, but didn't stutter once when reading to the therapy dog.</li>
      <h4>-Teacher </h4>
    <li class='testimonial-p'><i class="fa fa-quote-left" aria-hidden="true"></i>In addition to reading, my dog has had a poem written for him and a private recorder concert. I find that the kids love to call him to "come." It's about having self confidence and a simple relationship with another being.</li>
      <h4>-Handler</h4>
    <li class="testimonial-p"><i class="fa fa-quote-left" aria-hidden="true"></i>A student with autism who rarely speaks is comfortable speaking to the therapy dog.</li>
      <h4>-Social Worker</h4>
    <li class='testimonial-p'><i class="fa fa-quote-left" aria-hidden="true"></i>Spending time with the therapy dog is helping my child overcome her fear of dogs.</li>
      <h4>-Parent</h4>
    <li class='testimonial-p'><i class="fa fa-quote-left" aria-hidden="true"></i>I feel relaxed when I am working with a therapy dog because I am having fun!</li>
      <h4>-Student</h4>

  </ul>
</p>
