//----Variables----//
$main-font: 'Raleway', sans-serif;
$main-red: #7e0310;
$red-highlight: #97353f;
$main-teal: #049787;
$highlight-teal: #36ab9f;
$webkit-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
$box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
$logo-transform: translate(-50%,0);
$footer-gray: #2c2d2d;
$lighter-gray: #c9cbcc;
$main-radius:  5px;
