//----Variables----//
$main-font: 'Raleway', sans-serif;
$main-yellow: #fcc200;
$yellow-highlight: #fcce32;
$sub-yellow: #fdda66;
$webkit-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
$box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
$logo-transform: translate(-50%,0);
$darker-gray: #2c2d2d;
$lighter-gray: #c9cbcc;
$main-radius:  5px;
