<div class="content-full">
  <div class="hover-tabs">
    <ul class="tab-list">
      <li>
        {{#link-to 'events.calendar' tagName="li"}}<a href="">Calendar</a>{{/link-to}}
      </li>
      <li>
        {{#link-to 'events.blog' tagName="li"}}<a href="">Blog</a>{{/link-to}}
      </li>
      <li>
        {{#link-to 'events.videos' tagName="li"}}<a href="">Videos</a>{{/link-to}}
      </li>
      <li>
        {{#link-to 'events.news' tagName="li"}}<a href="">News</a>{{/link-to}}
      </li>
    </ul>
  </div>
{{outlet}}
</div>
