<footer>
  <div class="social-icons">
    <ul class="icons-list">
      <li>
      </li>
      <li>
      </li>
      <li>
      </li>
    </ul>
  </div>
  <button type="button" class="login">Login</button>
  <button type="button" class="donate"></button>

</footer>
