<footer>
  <div class="social-icons">
    <ul class="icons-list">
      <li>
        <p><i class="fa fa-facebook-square" aria-hidden="true"></i></p>
      </li>
      <li>
        <p><i class="fa fa-twitter-square" aria-hidden="true"></i></p>
      </li>
      <li>
        <p><i class="fa fa-instagram" aria-hidden="true"></i></p>
      </li>
    </ul>
  </div>
  <div class="login-donate">
    <ul class="login-list">
      <li>
        <p class="donate"><i class="fa fa-cc-paypal" aria-hidden="true"></i></p>
      </li>
      <li>
        <P class="login">Login</P>
      </li>
    </ul>
  </div>
</footer>
