<div class="content-container">
  <div id="container">
      {{#link-to 'about.pals'}}
    <div id="block"></div>
    <div id="text">PetPals NC promotes and supports the use of animal-assisted therapy and activities for K-12 students to enhance academic, social, emotional, and behavioral growth</div>
    {{/link-to}}
  </div>
</div>
<div id="calender-container">
    <div id="calender-head">
      <p>UPDATES</p>
    </div>
    <div id="blog-main">
      {{#each model as |blog-post|}}
        <div id="blog-container">
          <div class="little-blog">
            <p id="date">{{blog-post.date}}</p>
            {{#link-to 'events.blog'}}<h3 id="title">{{blog-post.title}}</h3>{{/link-to}}
            {{#link-to 'events.blog'}}<button id='readMore'>Read More...</button>{{/link-to}}
          </div>
          <!-- <div id="blog-body">
            <p>{{blog-post.body}}</p>
          </div> -->
        </div>
      {{/each}}
    </div>
  </div>
