<div class="body-container">
  <h1>Coming Soon</h1>

  <br/><br/>

  <p>We're gonna put stuff here</p>

  <div class="mailing-list">
    <ul>
      <li>
      {{input type="email" value=emailAddress class="mailing-list-input" placeholder="Please type your e-mail address." autofocus="autofocus"}}
    </li>
    <li>
        <button disabled={{isDisabled}} {{action 'saveInvitation'}} class="mailing-list-button">Sign Up!</button>
      </li>
    </ul>
    {{#if responseMessage}}
    <div class="alert-success">{{responseMessage}}</div>
    {{/if}}
    </div>



</div>
