<div class="content-full">
    <div class="hover-tabs">
      <ul class="tab-list">
        <li>
          {{#link-to 'join.resources' tagName="li"}}<a href="">Resources</a>{{/link-to}}
        </li>
        <li>
          {{#link-to 'join.schools' tagName="li"}}<a href="">Schools</a>{{/link-to}}
        </li>
        <li>
          {{#link-to 'join.volunteer' tagName="li"}}<a href="">Volunteer</a>{{/link-to}}
        </li>
      </ul>
    </div>
    <div class="content-body">
    {{outlet}}
  </div>
  </div>
