<nav>
  <div class="navbar navbar-default" id="nav-undo">
    <div class="logo-container">
      <div class="logo">
        {{#link-to 'index' class="nav-logo" }}<img src='assets/images/PetPalsLogo.png'>{{/link-to}}
      </div>
    </div>
    <div class="container-fluid">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="mobile-menu">MENU</span>
      </button>
      <div class="collapse navbar-collapse" id="main-navbar" aria-expanded="false">
        <ul class="navitems">
          <li id='logospace'>
          LOGO
          </li>
          <li class="dropdown mainMenu">
            <a class="dropdown-toggle {{aboutActive}}" data-toggle="dropdown" role="button" aria-haspopup="true">
            ABOUT<span class="caret"></span>
          </a>
            <ul class="dropdown-menu">
              <li class="subMenu">
                {{#link-to 'about.pals' class="subMenu" tagName="li" }}<a href="">PetPals</a>{{/link-to}}
              </li>
              <li class="subMenu">
                {{#link-to 'about.pettherapy' tagName="li" }}<a href="">Pet Therapy</a>{{/link-to}}
              </li>
              <li class='subMenu'>
                {{#link-to 'about.testimonials' tagName="li" }}<a href="">Testimonials</a>{{/link-to}}
              </li>
            </ul>
          </li>
          <li class="mainMenu mobileClose">
            {{#link-to 'teams' tagName="li" }}<a href="">TEAMS</a>{{/link-to}}
          </li>
          <!--logospace-->
          <li class="dropdown mainMenu">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              JOIN US<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="subMenu">
                {{#link-to 'join.volunteer' tagName="li" }}<a href="">Volunteer</a>{{/link-to}}
              </li>
              <li class="subMenu">
                {{#link-to 'join.resources' tagName="li" }}<a href="">Resources</a>{{/link-to}}
              </li>
              <li class="subMenu">
                {{#link-to 'join.schools' tagName="li" }}<a href="">Participating Schools</a>{{/link-to}}
              </li>
            </ul>
          </li>
          <li class="dropdown mainMenu">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              EVENTS<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="subMenu">
                {{#link-to 'events.calendar' tagName="li" }}<a href="">Calendar</a>{{/link-to}}
              </li>
              <li class="subMenu">
                {{#link-to 'events.blog' tagName="li" }}<a href="">Blog</a>{{/link-to}}
              </li>
              <li class="subMenu">
                {{#link-to 'events.media' tagName="li" }}<a href="">Media</a>{{/link-to}}
              </li>
            </ul>
          </li>
          <li class="mainMenu mobileClose">
            <a href="https://www.paypal.com/donate/?token=-ZUwU3oouqy9Ax3sd5YlS6lQw8BdRGJbIZj65ja6KpMvh71FSEQx3SE1xrnXb3gHNQKcDW">DONATE</a>
          </li>
          <li class="mainMenu mobileClose">
            {{#link-to 'contact' tagName="li" }}<a href="">CONNECT</a>{{/link-to}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
