<nav>
  <div class="navbar navbar-default" id="nav-undo">
    <div class="container-fluid" >
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="mobile-menu">MENU</span>
      </button>
    <div class="collapse navbar-collapse">
      <ul class="links-left">
        <li>
          {{#link-to 'index' tagName="li" }}<a href="">HOME</a>{{/link-to}}
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            ABOUT<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              {{#link-to 'about.pals' tagName="li" }}<a href="">PET PALS</a>{{/link-to}}
            </li>
            <li>
              {{#link-to 'about.pettherapy' tagName="li" }}<a href="">WHAT IS PET THERAPY?</a>{{/link-to}}
            </li>
            <li>
              {{#link-to 'about.testimonials' tagName="li" }}<a href="">TESTIMONIALS</a>{{/link-to}}
            </li>
          </ul>
        </li>
        <li>
          {{#link-to 'teams' tagName="li" }}<a href="">TEAMS</a>{{/link-to}}
        </li>
      </ul>
      <ul class="links-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              JOIN US!<span class="caret"></span>
            </a>
          <ul class="dropdown-menu">
            <li>
              {{#link-to 'join.volunteer' tagName="li" }}<a href="">VOLUNTEER</a>{{/link-to}}
            </li>
            <li>
              {{#link-to 'join.resources' tagName="li" }}<a href="">REASOURCES</a>{{/link-to}}
            </li>
            <li>
              {{#link-to 'join.schools' tagName="li" }}<a href="">SCHOOLS</a>{{/link-to}}
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              EVENTS<span class="caret"></span>
            </a>
          <ul class="dropdown-menu">
            <li>
              {{#link-to 'events.calender' tagName="li" }}<a href="">CALENDER</a>{{/link-to}}
            </li>
            <li>
              {{#link-to 'events.blog' tagName="li" }}<a href="">BLOG</a>{{/link-to}}
            </li>
          </ul>
        </li>
        <li>
          {{#link-to 'contact' tagName="li" }}<a href="">CONTACT</a>{{/link-to}}
        </li>
      </ul>
    </div>
  </div>
  <div class="logo-container">
    <div class="logo">
      {{#link-to 'index' class="nav-logo" }}<img src='assets/images/PetPalsLogo.png'>{{/link-to}}
    </div>
  </div>
</div>
</nav>
