<nav class="navbar">
  <div class="navbar-left">
    <ul class="links-left">
      <li>
        {{#link-to 'index' tagName="li" }}<a href="">Home</a>{{/link-to}}
      </li>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <ul class="drop">
            <li>
              {{#link-to 'about.pals' tagName="li" }}<a href="">Pet Pals</a>{{/link-to}}
            </li>
            <li>
              {{#link-to 'about.pettherapy' tagName="li" }}<a href=""> What is Pet Therapy?</a>{{/link-to}}
            </li>
            <li>
              {{#link-to 'about.testimonials' tagName="li" }}<a href="">Testimonials</a>{{/link-to}}
            </li>
          </ul>
        </li>
      <li>
        {{#link-to 'teams' tagName="li" }}<a href="">Teams</a>{{/link-to}}
      </li>
    </ul>
  </div>
  <div class="logo-container">
    {{#link-to 'index' class="nav-logo" }}Logo{{/link-to}}
  </div>
  <div class="navbar-right">
    <ul class="links-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Join Us!
            </a>
            <ul  class="drop">
              <li>
                {{#link-to 'join.volunteer' tagName="li" }}<a href="">Volunteer</a>{{/link-to}}
              </li>
              <li>
                {{#link-to 'join.resources' tagName="li" }}<a href="">Resources</a>{{/link-to}}
              </li>
              <li>
                {{#link-to 'join.schools' tagName="li" }}<a href="">Schools</a>{{/link-to}}
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Events
            </a>
            <ul class="drop">
              <li>
                {{#link-to 'events.calender' tagName="li" }}<a href="">Calender</a>{{/link-to}}
              </li>
              <li>
                {{#link-to 'events.blog' tagName="li" }}<a href="">Blog</a>{{/link-to}}
              </li>
            </ul>
          </li>
      <li>
        {{#link-to 'contact' tagName="li" }}<a href="">Contact</a>{{/link-to}}
      </li>
    </ul>
  </div>
</nav>
