
<div class="content-full">
    <div class="hover-tabs">
      <ul class="tab-list">
        <li>
          {{#link-to 'petpalsadmin.index' tagName="li"}}<a href="">Blog</a>{{/link-to}}
        </li>
        <li>
          {{#link-to 'petpalsadmin.teams' tagName="li"}}<a href="">Teams</a>{{/link-to}}
        </li>
        <li>
          {{#link-to 'petpalsadmin.schools' tagName="li"}}<a href="">Schools</a>{{/link-to}}
        </li>
      </ul>
    </div>
    <div class="content-body">
    {{outlet}}
  </div>
  </div>
