
<div class="content-full">
<h2>Teams</h2>
<div id="teams-main">
  {{#each model as |teams|}}
    <div id="teams-container">
      <div class="team-img-cont">
      <div class="team-img">
            <img class="teams-Img" src="{{teams.image}}" />
        </div>
        <div id="teams-name">
            <h3 id="name">{{teams.name}}</h3>
        </div>
      </div>
      <div id="teams-bio">
        <p>{{teams.bio}}</p>
      </div>
    </div>
  {{/each}}
</div>
</div>

{{outlet}}
