
<div class="content-full">
<h2>Teams</h2>
<div id="blog-main">
  {{#each model as |teams|}}
    <div id="blog-container">
      <div class="img-name">
        <ul>
          <li>
            <img class="teamsImg" src="{{teams.image}}" />
          </li>
          <li>
            <h3 id="name">{{teams.name}}</h3>
          </li>
        </ul>
      </div>
      <div id="bio">
        <p>{{teams.bio}}</p>
      </div>
    </div>
  {{/each}}
</div>
</div>

{{outlet}}
